<div class="container-fluid bg pb-5 pt-5">

    <div class="container pt-5">

        <div class="row pt-1 d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <h1 class="text-white">About Me</h1>

                <p class="text-white"> Hello, my name is Matheus, i'm 20 years old and currently a web developer for
                    <a class="text-white font-weight-bold" href="https://www.rommanel.com.br"> Rommanel</a> and
                    <a class="text-white font-weight-bold" href="https://livinbackyard.shop"> Backyard</a> . I'm studying Computer Science at <a class="text-white font-weight-bold" href="https://www.impacta.edu.br">Impacta</a> and I've been deepening more in Angular framework
                    and Vue.Js. </p>
                <p class="text-white"> I'm graduated as a FullStack developer, by <a class="text-white font-weight-bold" href="https://brazil.generation.org">Generation</a>, where I got knowledge in
                    Java, however I
                    followed and specialized in the FrontEnd area, because I always liked the part of creating the designs, in fact, in my youth I studied design and did some work as a freelancer,
                    making video introductions for some content creators. </p>
                <p class="text-white">Below I will leave the tools that I use as design and an example of introduction
                    that was made by me
                    recently :D</p>

                <ul class="list-group list-group-horizontal mb-5 d-flex justify-content-center">
                    <li class="list-group-item bg-list"><img width="34px" height="34px"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/aftereffects/aftereffects-original.svg" />
                    </li>
                    <li class="list-group-item bg-list"><img width="34px" height="34px"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/photoshop/photoshop-plain.svg" />
                    </li>
                    <li class="list-group-item bg-list"><img width="34px" height="34px"
                            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/premierepro/premierepro-original.svg" />
                    </li>
                    <li class="list-group-item bg-list"><img width="34px" height="34px"
                            src="https://raw.githubusercontent.com/Matth998/portfolio/main/img/C4D.png" />
                    </li>
                </ul>

            </div>

            <div class="col-md-6">

                <img src="https://i.imgur.com/sqFNOBJ.png" class="ml-5 img-perfil">

            </div>

        </div>

        <div class="row d-flex justify-content-center pb-5">

            <div class="col-md-6">

                <p class="text-white text-center">Below is an example of an introduction made by me.</p>

                <p class="text-center"> <a class="text-white font-weight-bold" href="https://mtechinnovation.netlify.app/#/home" target="blank">Click
                    here to see the MTech website</a> </p>

                <iframe width="100%" height="315" src="https://www.youtube.com/embed/LcjQaBtVfmw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>

        </div>

    </div>