<div class="container-fluid bg pt-5 pb-5">

    <div class="container mx-auto pt-5">
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card pb-5" style="width: 18rem;">
                    <img src="https://i.imgur.com/r96Vc6Z.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Dumbledore's Army</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Personal Blog</h6>
                        <p class="card-text">Dumbledore's Army needs you, do you think you're up to this challenge? Come
                            and be part of our community, talk about experiences with books, movies, going to the parks,
                            here you are free. If you're already part of our community.</p>
                        <a href="https://dumbledorearmy.netlify.app/#/home" target="_blank" class="btn mr-2"><i
                                class="fas fa-link"></i> Visit Site</a>
                        <a href="https://github.com/Matth998/DumbledoreArmy-FrontEnd" target="_blank" class="btn "><i
                                class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/xxOubDa.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MTech</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Social NewWork</h6>
                        <p class="card-text">In order to encourage actions aimed at gender equality, considering the
                            insertion of women in the labor market and in technology we seek to develop a social network
                            that connects women developers with different levels of experience and education to the
                            world of technology.</p>
                        <a href="https://mtechinnovation.netlify.app/#/home" class="btn  mr-2"><i
                                class="fas fa-link"></i> Visit Site</a>
                        <a href="https://github.com/Mtech02/MTechFrontEnd" class="btn"><i class="fab fa-github"></i>
                            Github</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card pb-10" style="width: 18rem;">
                    <img src="https://rommanel.vteximg.com.br/arquivos/Borboleta.png?v=637928375557430000"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Rommanel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Creation of Landing pages on the site</h6>
                        <p class="card-text">Creating and maintaining pages within the site, making the responsiveness
                            part for the best user experience.</p>
                        <p class="text-center"> <a href="https://www.rommanel.com.br" class="btn mr-2"><i
                                    class="fas fa-link"></i> Visit Site</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://fundotransforma.com.br/images/logo-principal.jpg" class="card-img-top" alt="..."
                        width="230" height="230">
                    <div class="card-body">
                        <h5 class="card-title">Fundo Transforma</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Creating the page Fundo Tranasforma for Rommanel</h6>
                        <p class="card-text">Page within a registration process, made to see which customers will want a
                            loan to start reselling Rommanel jewelry</p>
                        <p class="text-center"> <a href="https://fundotransforma.com.br" class="btn mr-2"><i
                                    class="fas fa-link"></i> Visit Site</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Angular Courses</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Project made in order to learn more about angular.
                        </h6>
                        <p class="card-text">Ugly project during angular studies, made based on DIO's angular
                            course!</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/tLPPTv5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ChloeVet</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Website made for a veterinary hospital.</h6>
                        <p class="card-text">Site made with the purpose of studying BootStrap concepts.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pb-2" style="width: 18rem;">
                    <img src="https://i.imgur.com/DHrIwxx.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">JavaiRemedio</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Project in Java, made with the functionality of
                            searching for high
                            cost remedies.</h6>
                        <p class="card-text">Project made during my bootcamp at Generation Brazil, the intention
                            was to have
                            more knowledge about Java structure and object-oriented programming!</p>
                        <p class="text-center"> <a href="https://github.com/Matth998/JavaiRemedio" class="btn"><i class="fab fa-github"></i> Github</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/MGc8IKO.png" class="card-img-top" width="100" height="190">
                    <div class="card-body">
                        <h5 class="card-title">Visibility</h5>
                        <h6 class="card-subtitle mb-2 text-muted">LGBTQIA+ visibility in the labor market</h6>
                        <p class="card-text">A joint project that shows the difficulty of the LGBTQIA+ community to
                            enter the job market and to be accepted by society. Project still under construction.</p>
                        <a href="https://visibilidade-trans.netlify.app" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="https://github.com/Matth998/VisibilidadeTrans" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/5he4J9N.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">SpaceShooter</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Game developed in JavaScript for studies.</h6>
                        <p class="card-text">Game made while I was studying JavaScript, a spaceship game with the
                            objective of
                            destroying enemy ships.</p>
                        <a href="https://matth998.github.io/SpaceShooter/" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="https://github.com/Matth998/SpaceShooter" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>