<div class="container-fluid bg pt-5 pb-5">

    <div class="container mb-5 mt-5 pt-3">

        <div class="row d-flex justify-content-center mb-5">

            <div class="col-md-6">

                <h1 class="text-white font-weight-bold text-center">SKILLS</h1>

                <h5 class="text-white font-weight-bold text-center">Below i will leave the skills i have messing with the frontend: </h5>

            </div>

        </div>

        <div class="row mb-5">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>Html</h3>
                    <div class="counter-icon">
                        <i class="devicon-html5-plain colored"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>Css</h3>
                    <div class="counter-icon">
                        <i class="devicon-css3-plain colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>JavaScript</h3>
                    <div class="counter-icon">
                        <i class="devicon-javascript-plain colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>TypeScript</h3>
                    <div class="counter-icon">
                        <i class="devicon-css3-plain colored"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>Angular</h3>
                    <div class="counter-icon">
                        <i class="devicon-angularjs-plain colored"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>Vue.js</h3>
                    <div class="counter-icon">
                        <i class="devicon-vuejs-plain colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>React</h3>
                    <div class="counter-icon">
                        <i class="devicon-react-original colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>Figma</h3>
                    <div class="counter-icon">
                        <i class="devicon-figma-plain colored"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="row d-flex justify-content-center mt-5 mb-5">

            <div class="col-md-6">
    
                <h5 class="text-white font-weight-bold text-center">Below i will leave the skills i have messing with the backend: </h5>
    
            </div>
    
        </div>

        <div class="row mb-5">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>Java</h3>
                    <div class="counter-icon">
                        <i class="devicon-java-plain colored"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>Spring</h3>
                    <div class="counter-icon">
                        <i class="devicon-spring-plain colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>Python</h3>
                    <div class="counter-icon">
                        <i class="devicon-python-plain colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>NodeJs</h3>
                    <div class="counter-icon">
                        <i class="devicon-nodejs-plain colored"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>MySQL</h3>
                    <div class="counter-icon">
                        <i class="devicon-mysql-plain colored"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>PostgreSQL</h3>
                    <div class="counter-icon">
                        <i class="devicon-postgresql-plain colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎ </span>
                    <h3>Oracle</h3>
                    <div class="counter-icon">
                        <i class="devicon-oracle-original colored"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <span class="counter-value">‎</span>
                    <h3>.NET</h3>
                    <div class="counter-icon">
                        <i class="devicon-dot-net-plain colored"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>