<div class="container-fluid bg-feed pt-5 pb-5">

    <div class="container">

        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-6">

                <h1 class="font-weight-bold text-white">Welcome to my portfolio!</h1>

                <p class="mt-3 text-white">Hi! My name is Matheus, welcome to my portfolio, do you want to know a little
                    more about me? Choose
                    one of the options on the side!</p>

            </div>

            <div class="col-md-6">

                <div id="stripped">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
                        <polyline
                            points="0,154 131,0 0,348 269,0 0,562 437,0 
                        0,766 565,14 0,1062 719,0 289,1062 843,0 543,1062 995,0 729,1062 1161,0 947,1062 1307,0 1143,1062 1500,162 1299,1062 1500,830" />
                    </svg>
                </div>

            </div>

        </div>

        <div class="row mt-5 mb-5">

            <div class="col-md-12">

                <div class="all">
                    <div class="lefter" routerLink="/about-me">
                        <div class="text">Skills</div>
                    </div>
                    <div class="left">
                        <div class="text">Projects</div>
                    </div>
                    <div class="center" routerLink="/about-me">
                        <div class="explainer"><span>More</span></div>
                        
                            <div class="text">About Me</div>
                        
                    </div>
                    <div class="right">
                        <div class="text">Curriculum</div>
                    </div>
                    <div class="righter" routerLink="/about-me">
                        <div class="text">Contacts</div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>